<h2>Extrato de Transações</h2>
<table class="transaction-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Valor</th>
            <th>Emitente</th>
            <th>Recebedor</th>
            <th>Data/Hora</th>
            <th>Observação</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.amount | currency:'BRL' }}</td>
            <td>{{ transaction.sender}}</td>
            <td>{{ transaction.receiver}}</td>
            <td>{{ transaction.timestamp | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            <td>{{ transaction.obText }}</td>
            <td>{{ transaction.type }}</td>
        </tr>
    </tbody>
</table>


<form *ngIf="showDepositForm3" (ngSubmit)="makeTransfer()">
  <label for="senderId">ID da Conta:</label>
  <input id="senderId" type="number" [(ngModel)]="transferData.senderId" name="senderId" required>

  <label for="receiverId">ID do Recebedor:</label>
  <input id="receiverId" type="number" [(ngModel)]="transferData.receiverId" name="receiverId" required>

  <label for="amount">Valor:</label>
  <input id="amount" type="number" [(ngModel)]="transferData.amount" name="amount" required>

  <label for="obText">Observação:</label>
  <input id="obText" [(ngModel)]="transferData.obText" name="obText" required>

  <button type="submit">Depositar</button>
  <button type="button" (click)="resetDepositForm3()">Cancelar</button> 
</form>

<!-- Formulário de saque -->
<!-- <h2 *ngIf="selectedAccount">Realizar realizar saque para {{ selectedAccount.firstName }}</h2> -->
<h2 *ngIf="showDepositForm2">Realizar realizar saque para {{ selectedAccount.firstName }}</h2>
<form *ngIf="showDepositForm2" (ngSubmit)="makeWithdraw()">
  <label for="accountId">ID da Conta:</label>
  <input id="accountId" type="number" [(ngModel)]="withdrawData.receiverId" name="accountId" required>

  <label for="amount">Valor:</label>
  <input id="amount" type="number" [(ngModel)]="withdrawData.amount" name="amount" required>

  <label for="obText">Observação:</label>
  <input id="obText" [(ngModel)]="withdrawData.obText" name="obText" required>

  <button type="submit">Depositar</button>
  <button type="button" (click)="resetDepositForm2()">Cancelar</button>
</form>


<h2 *ngIf="showDepositForm">Realizar Depósito para {{ selectedAccount.firstName }}</h2>
<form *ngIf="showDepositForm" (ngSubmit)="makeDeposit()">
  <label for="accountId">ID da Conta:</label>
  <input id="accountId" type="number" [(ngModel)]="depositData.receiverId" name="accountId" required>

  <label for="amount">Valor:</label>
  <input id="amount" type="number" [(ngModel)]="depositData.amount" name="amount" required>

  <label for="obText">Observação:</label>
  <input id="obText" [(ngModel)]="depositData.obText" name="obText" required>

  <button type="submit">Depositar</button>
  <button type="button" (click)="resetDepositForm()">Cancelar</button> <!-- Botão para cancelar e esconder o formulário -->
</form>

<form *ngIf="isEditing" (ngSubmit)="updateAccount()">
  <label for="firstName">First Name:</label>
  <input id="firstName" [(ngModel)]="selectedAccount.firstName" name="firstName" required>

  <label for="lastName">Last Name:</label>
  <input id="lastName" [(ngModel)]="selectedAccount.lastName" name="lastName" required>

  <label for="document">Document:</label>
  <input id="document" [(ngModel)]="selectedAccount.document" name="document" required>

  <label for="balance">Balance:</label>
  <input id="balance" type="number" [(ngModel)]="selectedAccount.balance" name="balance" required>

  <label for="email">Email:</label>
  <input id="email" type="email" [(ngModel)]="selectedAccount.email" name="email" required>

  <label for="password">Password:</label>
  <input id="password" type="password" [(ngModel)]="selectedAccount.password" name="password" required>

  <button type="submit">Atualizar Conta</button>
  <button type="button" (click)="cancelEdit()">Cancelar</button>
</form>


<form *ngIf="!isEditing && !showDepositForm && !showDepositForm2 && !showDepositForm3" (ngSubmit)="addAccount()">
  <label for="firstName">First Name:</label>
  <input id="firstName" [(ngModel)]="newAccount.firstName" name="firstName" required>

  <label for="lastName">Last Name:</label>
  <input id="lastName" [(ngModel)]="newAccount.lastName" name="lastName" required>

  <label for="document">Document:</label>
  <input id="document" [(ngModel)]="newAccount.document" name="document" required>

  <label for="balance">Balance:</label>
  <input id="balance" type="number" [(ngModel)]="newAccount.balance" name="balance" required>

  <label for="email">Email:</label>
  <input id="email" type="email" [(ngModel)]="newAccount.email" name="email" required>

  <label for="password">Password:</label>
  <input id="password" type="password" [(ngModel)]="newAccount.password" name="password" required>

  <button type="submit">Adicionar Conta</button>
</form>

<ul>
  <li *ngFor="let account of accounts">
    {{ account.id }} - {{ account.firstName }} - {{ account.balance}}
    <button (click)="editAccount(account)">Editar</button>
    <button (click)="deleteAccount(account.id)">Excluir</button> 
    <button (click)="selectForDeposit(account)">Depositar</button>
    <button (click)="selectForWithdraw(account)">Saque</button>
    <button (click)="selectForTransaction(account)">transaçao</button>
    <button (click)="getStatement()">transaçao</button>  <!-- Botão para selecionar a conta para depósito -->
  </li>
</ul>